<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New article</title>
</head>
<body>
    <form method='post'>
         {% csrf_token %}
        <input type="text" name="title"/><br>
        <input type="text" name="source"/><br>
        <input type="text" name="link"/><br>
        <input type="textarea" name="text"/><br>
        <input type="submit" value="Submit"/><br>
    </form>
</body>
</html>