%form
    %input{'type':'text', 'name':'query'} 
    %input{'type':'date', 'name':'start-date'}
    %input{'type':'date', 'name':'end-date'}
    %input{'type':'submit', 'name':'search'}
%ul
    -for a in article_list
        %li
            %h2= a.title
            .article-body
                -for p in a.split_text
                    %p= p
                %a{'href':'#{ a.link }'}=a.source
    