<form>
  <input type="text" name="query"/>
  <input type="date" name="start">
  <input type="date" name="end">
  <input type="submit" value="search"/>
</form>
<div>
  {{ article_list_length }} articles.
</div>
{% if article_list %}
<ul>
  {% for a in article_list %}
  <li>
    <div>
      <h2>{{ a.title }}</h2>
      <div>
      {% for p in a.split_text  %}
        <p>{{ p }}</p>
      {% endfor %}
      </div>
      <a href="{{ a.link }}">{{ a.source }}</a>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %} No articles {% endif %}
<script src="http://localhost:4000/scripts/search.js"></script>