<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="container">
    <div class="row">
      <table id="subscribers">
        <thead></thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
  <script>
    var MailList = Backbone.Collection.extend({
      // url: '/mails',
      constructor: function () {
        console.log(this.url());
      }
    });
    var Subscriber = Backbone.Model.extend({
      // model: {
      //   mails: MailList
      // },
      // parse: function (response) {
      //   console.log(response);
      //   response.mails = new MailList(null, {
      //     url: this.url() + '/mails'
      //   });
      //   response.mails.fetch();
      // }
    });
    var SubscriberList = Backbone.Collection.extend({
      url: '/api/subscribers',
      model: Subscriber,
    });
    var list = new SubscriberList();
    var table = $('#subscribers');
    var rowTemplate = _.template('<tr><td><%= name %></td></tr>')
    list.on('add', function (v) {
      console.log(arguments);
      var body = table.find('tbody');
      var row = $(rowTemplate(v.toJSON()));
      row.appendTo(body);
    });
    list.fetch();
  </script>
</body>

</html>